.error {
  text-align: center;
  background: #ff3e00;
  color: var(--color-salt);
  text-align: center;
  padding: 10px;
  line-height: 1.8;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
