.container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  .logo {
    img {
      width: 160px;
    }
    padding-left: 38px;
    padding-top: 20px;
  }

  .login-form {
    height: calc(100vh - 55px);
    min-height: 500px;

    display: flex;
    margin: auto;
    align-items: center;
    gap: 160px;

    form {
      width: 400px;
      display: flex;
      flex-direction: column;
      > div:first-of-type {
        margin-bottom: 15px;
      }
    }

    button {
      margin-top: 15px;
      margin-bottom: 15px;
      display: block;
    }
  }
}
