.lm--button {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: inline-flex;
  padding: 0.5625rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #00b0b3;
  color: var(--color-mint);
  line-height: 1.5;
  text-decoration: none;
  border: 0.0625rem solid transparent;
  border-radius: 0.3125rem;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.lm--button:hover {
  text-decoration: none;
  color: #158793;
  color: var(--color-dark-mint);
}
.lm--button[disabled] {
  cursor: not-allowed;
  color: #bfc9cf;
  color: var(--color-grey400);
}
.lm--button:focus {
  outline: none;
}
.lm--button--solid {
  color: #fff;
  background: #00b0b3;
  background: var(--color-mint);
}
.lm--button--solid:hover {
  color: #fff;
  background: #158793;
  background: var(--color-dark-mint);
}
.lm--button--solid[disabled] {
  color: #bfc9cf;
  color: var(--color-grey400);
  background: #e7ecef;
  background: var(--color-grey200);
}
.lm--button--outlined {
  color: #00b0b3;
  color: var(--color-mint);
  border: 0.0625rem solid #00b0b3;
  border: 0.0625rem solid var(--color-mint);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.lm--button--outlined:hover {
  color: #158793;
  color: var(--color-dark-mint);
  border-color: #158793;
  border-color: var(--color-dark-mint);
}
.lm--button--outlined[disabled] {
  color: #bfc9cf;
  color: var(--color-grey400);
  border-color: #e7ecef;
  border-color: var(--color-grey200);
  background-color: transparent;
}
.lm--button--small {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.lm--button--grey {
  background: #e7ecef;
  background: var(--color-grey200);
}
.lm--button--grey,
.lm--button--grey:hover {
  color: #4e595f;
  color: var(--color-charcoal);
}
.lm--button--grey:hover {
  background: #ced5dc;
  background: var(--color-input-border);
}
