.create-request-modal {
  &__details {
    display: flex;
    padding: 14px 0;

    .details-label {
      flex: 1;
    }

    .details-description {
      flex: 2;
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(2, 1fr);
      white-space: nowrap;
    }

    .title,
    label {
      font-weight: bold;
    }
  }

  textarea {
    width: 95%;
    margin-left: 5%;
  }
}

.request-button-group {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
}
