@import '../../variables.scss';

.alert-details {
  .information {
    display: grid;
    grid-template-columns: 200px auto;
    padding: 15px;
    background-color: $salt;
    > div {
      padding: 8px 0;
    }

    .title {
      font-weight: 600;
      padding-left: 30px;
    }
  }
}
