:root {
  --color-red: #e54545;
  --color-green: #48dcc0;
  --color-orange: #ff9d5a;
  --color-yellow: #ffe75a;
  --color-green33: #158693;
  --color-green35: #00b0b2;
  --color-green42: #00d897;
  --color-blue: #3384e1;
  --color-blue15: #052a45;
  --color-blue13: #05243b;
  --color-blue9: #001b30;
  --color-gray96: #f3f6f7;
  --color-neutral-dark: #666e76;
  --color-neutral-light: #9ba6aa;
  --color-bg: var(--color-gray96);
  --color-panel: #fff;
  --color-text: #454f54;
  --color-link: var(--color-green35);
  --color-divider: #e7ecef;
  --color-input-border: #ced5dc;
  --color-input-border-focus: var(--color-green35);
  --color-charcoal: #4e595f;
  --color-salt: #fff;
  --color-pepper: #818b92;
  --color-mint: #00b0b3;
  --color-grey100: #f3f6f7;
  --color-grey200: #e7ecef;
  --color-grey300: #cfd6dd;
  --color-grey400: #bfc9cf;
  --color-lettuce: #47dcc1;
  --color-tomato: #e44444;
  --color-mustard: #ffd147;
  --color-water: #3384e1;
  --color-dark-mint: #158793;
  --color-orange: #ff9d5c;
  --color-teal: #00b0b2;
  --color-space: #4f5a60;
  --color-dark-teal: #158693;
  --color-light-green: #d1f6ef;
  --color-light-red: #f291b0;
  --color-purple: #6b68b3;
  --color-dark-purple: #564d92;
  --color-dark-orange: #ff8b00;
  --footer-height: 73px;
  --bp-small: 767px;
  --bp-medium: 768px;
  --bp-large: 992px;
  --bp-xlarge: 1367px;
  --font-sans-serif: geomanist, Arial;
  --font-size-base: 0.875rem;
  --font-weight: 500;
  --font-size-1: 2rem;
  --line-height-1: 1.3125;
  --font-size-2: 1.5rem;
  --line-height-2: 1.3333;
  --font-size-3: 1.25rem;
  --line-height-3: 1.3;
  --font-size-4: 1rem;
  --line-height-4: 1.5;
  --font-size-5: var(--font-size-base);
  --line-height-5: 1.5714;
  --font-size-body: var(--font-size-base);
  --line-height-body: 1.5714;
  --font-size-small: 0.75rem;
  --line-height-small: 1.3333;
  --space-unit: 0.5rem;
  --space-xs: var(--space-unit);
  --space-s: calc(2 * var(--space-unit));
  --space-m: calc(3 * var(--space-unit));
  --space-l: calc(4 * var(--space-unit));
  --space-xl: calc(6 * var(--space-unit));
  --header-height: 3.75rem;
}

body {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-body);
  color: var(--color-text);
  line-height: var(--line-height-body);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
}

button,
input,
optgroup,
select,
textarea {
  font-family: geomanist, Arial;
  font-family: var(--font-sans-serif);
}

a,
button {
  color: #00b0b2;
  color: var(--color-link);
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

.h1,
h1 {
  font-size: 2rem;
  font-size: var(--font-size-1);
  line-height: 1.3125;
  line-height: var(--line-height-1);
  margin-bottom: 1rem;
  margin-bottom: var(--space-s);
}
.h1,
.h2,
h1,
h2 {
  font-weight: 500;
  font-weight: var(--font-weight);
}
.h2,
h2 {
  font-size: 1.5rem;
  font-size: var(--font-size-2);
  line-height: 1.3333;
  line-height: var(--line-height-2);
}
.h3,
h3 {
  font-size: 1.25rem;
  font-size: var(--font-size-3);
  line-height: 1.3;
  line-height: var(--line-height-3);
}
.h3,
.h4,
h3,
h4 {
  font-weight: 500;
  font-weight: var(--font-weight);
}
.h4,
h4 {
  font-size: 1rem;
  font-size: var(--font-size-4);
  line-height: 1.5;
  line-height: var(--line-height-4);
}
.h5,
h5 {
  font-size: 0.875rem;
  font-size: var(--font-size-5);
  line-height: 1.5714;
  line-height: var(--line-height-5);
  font-weight: 400;
}
.f1 {
  font-size: 2rem;
  font-size: var(--font-size-1);
}
.f2 {
  font-size: 1.5rem;
  font-size: var(--font-size-2);
}
.f3 {
  font-size: 1.25rem;
  font-size: var(--font-size-3);
}
.f4 {
  font-size: 1rem;
  font-size: var(--font-size-4);
}
.f5 {
  font-size: 0.875rem;
  font-size: var(--font-size-5);
}
small {
  font-size: 0.75rem;
  font-size: var(--font-size-small);
  line-height: 1.3333;
  line-height: var(--line-height-small);
}
@media screen and (max-width: 767px) {
  .h1,
  h1 {
    margin-bottom: 1.5rem;
    margin-bottom: var(--space-m);
    font-size: 1rem;
    font-size: var(--font-size-4);
    text-align: center;
  }
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bec8ce;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #bec8ce;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #bec8ce;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #bec8ce;
}
input[disabled],
textarea[disabled] {
  color: #4f5a60;
  border-color: #e7ecef;
  border-color: var(--color-divider);
  background-color: #f3f6f7;
  cursor: not-allowed;
}
[type='color'],
[type='date'],
[type='datetime-local'],
[type='datetime'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.6875rem 1rem;
  font-size: 1rem;
  color: #4f5a60;
  line-height: 1.25;
  background: #fff;
  border: 0.0625rem solid var(--color-input-border);
  border-radius: 0.3125rem;
  box-sizing: border-box;
}
[type='color']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='datetime']:focus,
[type='email']:focus,
[type='month']:focus,
[type='number']:focus,
[type='password']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='text']:focus,
[type='time']:focus,
[type='url']:focus,
[type='week']:focus,
select:focus,
textarea:focus {
  border-color: #00b0b2;
  border-color: var(--color-input-border-focus);
  outline: none;
}
.is-error [type='color'],
.is-error [type='date'],
.is-error [type='datetime-local'],
.is-error [type='datetime'],
.is-error [type='email'],
.is-error [type='month'],
.is-error [type='number'],
.is-error [type='password'],
.is-error [type='search'],
.is-error [type='tel'],
.is-error [type='text'],
.is-error [type='time'],
.is-error [type='url'],
.is-error [type='week'],
.is-error select,
.is-error textarea {
  border-color: #e54545;
  border-color: var(--color-red);
}
.error-block,
.help-block {
  margin-top: 0.5rem;
  margin-top: var(--space-xs);
  font-size: 0.75rem;
  font-size: var(--font-size-small);
  color: #bec8ce;
}
.error-block {
  color: #e54545;
  color: var(--color-red);
}
hr {
  margin: 1.5rem 0;
  margin: var(--space-m) 0;
}

.lm--breadcrumb {
  display: -webkit-box;
  display: flex;
  margin-bottom: 1rem;
  list-style: none;
}
.lm--breadcrumb li:not(:last-child):after {
  content: '/';
  margin: 0 0.25rem;
}
.lm--breadcrumb a {
  color: #00b0b2;
  color: var(--color-green35);
  text-decoration: none;
}
.lm--breadcrumb a:hover {
  text-decoration: underline;
}
.lm--checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: none;
  clip: rect(0, 0, 0, 0);
  opacity: 0;
}
.lm--checkbox-label {
  position: relative;
  -webkit-box-align: start;
  align-items: flex-start;
  display: -webkit-inline-box;
  display: inline-flex;
  margin-right: 0.3125rem;
  padding-top: 0.125rem;
  padding-right: 0.3125rem;
  cursor: pointer;
}
.lm--checkbox-label:before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.125rem;
  margin-right: 0.5rem;
  background-color: #fff;
  border: 0.0625rem solid #ced5dc;
  border: 0.0625rem solid var(--color-input-border);
}
.lm--checkbox-label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.75rem;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.lm--checkbox-label:before {
  border-radius: 0.3125rem;
}
.lm--checkbox-label:after {
  top: 0.25rem;
  width: 9px;
  height: 15px;
  margin-left: -0.375rem;
  -webkit-transform: scale(0) rotate(45deg) translate3d(-50%, 0, 0);
  transform: scale(0) rotate(45deg) translate3d(-50%, 0, 0);
  border-color: #00b0b2;
  border-color: var(--color-link);
  border-style: solid;
  border-width: 0 0.125rem 0.125rem 0;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.lm--checkbox-input:checked + .lm--checkbox-label:after {
  -webkit-transform: scale(1) rotate(45deg) translate3d(-50%, 0, 0);
  transform: scale(1) rotate(45deg) translate3d(-50%, 0, 0);
}
.lm--checkbox-input:focus + .lm--checkbox-label:before {
  border-color: #00b0b2;
  border-color: var(--color-input-border-focus);
}

.lm--formItem--inline {
  display: flex;
}

.lm--formItem-left {
  width: 30%;
}

.lm--formItem-right {
  flex-grow: 1;
  > .advanced-select-container {
    width: 100%;
  }
}

.lm--formItem + .lm--formItem {
  margin-top: var(--space-s);
}
.lm--formItem-label {
  display: inline-block;
  padding: 0 0 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
}

.form-label.lm--formItem-label {
  &.required {
    padding-right: calc(2.0625rem - 9px);

    &:after {
      content: '*';
      color: var(--color-tomato);
      padding-left: 3px;
    }
  }
}

//Form
.form-wrapper {
  margin: 0 auto;
  padding: 0 20px 40px 20px;

  @media print {
    .form-button-container {
      display: none !important;
    }
  }

  @media screen and (min-width: 768px) {
    width: 50%;
    min-width: 650px;

    &.form-wrapper--wide {
      min-width: 768px;
    }
  }

  @media screen and (max-width: 350px) {
    .lm--formItem-control {
      .dateranger-trigger-button.dateranger-display-trigger-button {
        min-width: 100%;
      }
    }
  }

  hr {
    margin: 2rem -20px 2rem -20px;

    @media screen and (min-width: 768px) {
      margin: 2rem -5.5rem 2rem -5.5rem;
    }
  }

  .form-button-container {
    margin-top: 40px;

    @media screen and (min-width: 768px) {
      .lm--button {
        display: block;
        width: 160px;
      }
    }
  }
}

.icon {
  width: 15px;
}
