$dark-grey: #8c969d;
$salt: #ffffff;
$space: #4f5a60;
$pepper: #818a91;
$grey100: #f3f6f7;
$grey200: #e7ecef;
$grey300: #ced5dc;
$grey400: #bec8ce;
$teal: #00b0b2;
$dark-teal: #158693;
$lettuce: #48dcc0;
$green: #48dcc0;
$red: #e54545;
$dark-red: #e54545;
$yellow: #ffd049;
$blue: #3384e1;
$orange: #ff9d5a;

$border-color: $grey300;
$border-focus-color: $teal;
